@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.container-1 {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 15px;
  background: white;
  color: #aeaeae;
  width: 100%;
}

.content {
  margin: 30px;
  background: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.add-new-user {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #aeaeae;
}

td,
th {
  padding: 10px !important;
  text-align: left !important;
  font-size: 12px !important;
  text-align: left;
  border-bottom-color: #d8dce6;
  padding: 10px;
  background: white;
  border: 2px solid #ddd;
  border-top: 2px solid #ddd !important;
}

tr {

  border-bottom-color: #d8dce6;
  min-height: 48px;
  height: 48px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.searchbox {
  display: flex;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  border: none;
}

.table-list {
  padding: 10px;
  padding-right: 2%;

}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: white;
}

.contaniner-simple {
  display: flex;
  flex-direction: row;
}

.add-photographer {
  background: #d7ecd7;
  border: none;
  margin: 11px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.norm {
  padding: 10px 10px 0px 0px;
  border: none;
  border-bottom: 1px solid #aeaeae;
  margin: 11px;
}
.adva{
    background: #d7ecd7;
    border: none;
    margin: 11px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.ser-container{
    display: flex;
    flex-direction: row;
    border: none;
}