<div class="container-1">

    <div class="content">
        <div class="add-new-user">
            <div class="user-title">Subscribers</div>
            <div class="addbutton"><button class="add-photographer" (click)="addnewphotographer()">Add new
                    Subscriber</button></div>
        </div>
        <div *ngIf="!isAdvancedFilter" class="ser-container">
            <div class="searchbox">
                <input type="text" placeholder="Enter search term here"
                    class="norm">
            </div>
            <div class="advanced-things">
                <button  class="adva">
                    Advanced Search
                </button>
            </div>
        </div>
        <div *ngIf="isAdvancedFilter">
                <app-advance-filter>ß</app-advance-filter>
        </div>
        <div>
            <div class="table-list">
                <table style="width: 100%" class="table table-striped" [mfData]="data" #mf="mfDataTable"
                    [mfRowsOnPage]="5">
                    <thead>
                        <tr style="border-bottom: 1px solid #b10202;
                            padding: 10px;">
                            <th style="width: 20%">
                                <mfDefaultSorter by="id" style="font-family: sans-serif;">Subscriber</mfDefaultSorter>
                            </th>
                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="name">Email</mfDefaultSorter>
                            </th>

                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="phone">Gmail
                                </mfDefaultSorter>
                            </th>
                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="phone">Mobile
                                </mfDefaultSorter>
                            </th>
                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="address">FB
                                </mfDefaultSorter>
                            </th>


                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="email">Active</mfDefaultSorter>
                            </th>

                            <th style="width: 17%">
                                <mfDefaultSorter style="font-family: sans-serif;" by="email">Actions</mfDefaultSorter>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data; let i = index;">
                            <td>

                                <div class="contaniner-simple">
                                    <img style="cursor: pointer; font-weight: bold; border-radius: 50%;"
                                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                                    <div>
                                        <div style="font-size: 12px;
                                        padding-left: 10px;"> {{item?.fullname}} </div>
                                        <div style="padding-left: 10px;
                                        font-size: 12px;
                                        opacity: .5;"> {{item?.fullname}}</div>
                                    </div>
                                </div>
                            </td>
                            <td style="color: blue;">{{item?.email}}</td>
                            <td>{{item?.email}}</td>
                            <td>{{item?.mobileNO}}</td>
                            <td class="text-right">
                                <div style="    background: blueviolet;
                                color: white;
                                width: fit-content;
                                padding-top: 1px;
                                border-radius: 16px;
                                padding-bottom: 2px;
                                padding-left: 10px;
                                padding-right: 10px;"
                                    [ngStyle]="{'background':i%2 === 0  ? '#5ad0fb' : '#3451e2'  }">
                                    {{i%2===0 ? 'Danger' : 'Cancelled'}}</div>
                            </td>
                            <td class="text-right" [ngStyle]="{'color':item.status === 'active' ? '#75c7f0' : 'red'}"><li>{{item.status ? item.status : 'inactive'}}</li></td>

                            <td (click)="viewdetails(item,i)">

                                <i style="cursor: pointer; padding: 5px" class="fa fa-ellipsis-h"></i>

                            <i style="cursor: pointer;" class="fa fa-eye"></i></td>


                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="border-top: none;" colspan="7">
                                <mfBootstrapPaginator [rowsOnPageSet]="[25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
