<div    class="container-1">
    <div class="title">
        Subscriber Management
    </div>
    <div class="content">
        <div class="add-new-user">
            <div class="user-title">Subscriber</div>
            <div class="addbutton"><button class="add-button" (click)="addnewphotographer()">Add new Subscriber</button></div>
        </div>
        <div class="search-box">
            <div class="searchbox">
                <input type="text" placeholder="Enter search term here" style="padding: 10px 10px 0px 0px;border: none;border-bottom: 1px solid #aeaeae;margin: 11px;">
            </div>
        </div>
        <div>
            <div class="table-list" >
                <table style="width: 100%" class="table table-striped" [mfData]="data" #mf="mfDataTable"
                    [mfRowsOnPage]="5">
                    <thead>
                        <tr style="border-bottom: 1px solid #b10202;
                            padding: 10px;">
                            <th style="width: 10%">
                                <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                            </th>

                            <th style="width: 20%">
                                <mfDefaultSorter by="phone">Mobile no.</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="address">Category</mfDefaultSorter>
                            </th>

                            <th style="width:10%">
                                <mfDefaultSorter by="activeSubscription">Action</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="email">Active</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data; let i = index;">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.type}}</td>
                            <td (click)="viewdetails(item,i)"><i style="cursor: pointer;" class="fa fa-edit"></i></td>
                            <td class="text-right" [ngStyle]="{'color':item.status === 'active' ? 'green' : 'red'}">{{item.status ? item.status : 'inactive'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="border-top: none;" colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>