<div class="asff">
    <i class="fa fa-bar-chart"></i>
    <span>Advanced Search filter form</span>
</div>
<div>
    <div style="    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;">
        <div class="single-fliter">
            <span> Type </span>
            <div>
                <input type="text" placeholder="PhotoGrapher ß">
            </div>
        </div>
        <div class="single-fliter">
            <span> Expertise </span>
            <div>
                <input type="text" placeholder="Eg. 37000 - 300">
            </div>
        </div>
        <div class="single-fliter">
            <span> Ratings </span>
            <div class="inputclass1"> 
                        <select class="selectdrop" >
                            <option value="NEFT"> Select Option</option>
                            
                        </select>
                    </div>
        </div>
        <div class="single-fliter">
            <span> Service </span>
            <div>
                <input type="text" value="PhotoGrapher ß">
            </div>
        </div>
    </div>

    <div style="display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;">
        <div class="single-fliter">
            <span> Service </span>
            <div>
                <input style="width: 64px;" type="text" value="From">
                <span style="    padding: 10px;
                border: 1px solid #aeaeae;
                border-radius: 5px;"><i class="fa fa-ellipsis-h"></i></span>
                <input style="width: 64px;" type="text" value="To">
            </div>
        </div>
        <div class="single-fliter">
            <span> Status </span>
            <div class="inputclass1"> 
                <select class="selectdrop" >
                    <option value="NEFT"> Select Option</option>
                    
                </select>
            </div>
        </div>
        <div class="single-fliter">
            <span> Type </span>
            <div class="inputclass1"> 
                <select class="selectdrop" >
                    <option value="NEFT"> Select Option</option>
                    
                </select>
            </div>
        </div>
        <div class="single-fliter" >
            <span style="display: none;"> Type </span>
            <div style="display: none;">
                <div class="inputclass1"> 
                    <select class="selectdrop" >
                        <option value="NEFT"> Select Option</option>
                        
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;">
        <div>
            <button class="search"><i class="fa fa-search"></i> Search </button>
            <button class="reset"><i class="fa fa-close"></i> Reset</button>

        </div>
    </div>

    <div>

    </div>
</div>