<div class="view-grapher">
    <div class="header-bar">
        <div><span *ngIf="message.allowCreate">Add</span> <span *ngIf="!message.allowCreate">View</span> Photographer
        </div>

        <div>
            <button class="back-button" (click)="back()">Back</button>
            <ngx-split-button class="save-button" (click)="save()" name="Save Changes">
                <ng-container *ngxDropdownItems>
                  <li><a class="ngx-dropdown-item">Save and Continue</a></li>
                  <li><a class="ngx-dropdown-item">Save and add new </a></li>
                  <li><a class="ngx-dropdown-item">Save and Exit</a></li>
                </ng-container>
              </ngx-split-button>
            <!-- <button class="save-button" (click)="save()"> Save </button> -->
        </div>
    </div>
    <div style="padding: 15px;">
        <div class="sliding-header">

            <div (click)="currentTab = tabs.Profile"
                [ngClass]="{'selected':currentTab === tabs.Profile,'unselected': currentTab !== tabs.Profile}">
                <i class="fa fa-user-circle-o"></i> Profile
            </div>


            <div (click)="currentTab = tabs.Account"
                [ngClass]="{'selected':currentTab === tabs.Account,'unselected': currentTab !== tabs.Account}">
                <i class="fa fa-user"></i> Account
            </div>
            <div (click)="currentTab = tabs.Payment"
                [ngClass]="{'selected':currentTab === tabs.Payment,'unselected': currentTab !== tabs.Payment}">
                <i class="fa fa-money"></i> Payment Details
            </div>
            <div (click)="currentTab = tabs.professional_details"
                [ngClass]="{'selected':currentTab === tabs.professional_details,'unselected': currentTab !== tabs.professional_details}">
                <i class="fa fa-certificate"></i> Professional Details
            </div>
            <div (click)="currentTab = tabs.Info"
                [ngClass]="{'selected':currentTab === tabs.Info,'unselected': currentTab !== tabs.Info}">
                <i class="fa fa-info"></i> Info
            </div>
            <div (click)="currentTab = tabs.Portfolio"
                [ngClass]="{'selected':currentTab === tabs.Portfolio,'unselected': currentTab !== tabs.Portfolio}">
                <i class="fa fa-camera"></i> Portfolio
            </div>

        </div>
    </div>





    <div>
        <!-- <div class="basic-d" *ngIf="currentTab === tabs.Profile">
            <div class="align-aorder">
                <div class="group-text">
                    <img class="img-main"
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Introduction</div>

                    <input [ngModel]="message.briefBio" class="bref">
                </div>
            </div>
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">Name</div>
                    <input [ngModel]="message.name">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Age</div>
                    <input [ngModel]="message.age">
                </div>
                <div class="group-text">
                    <div style="font-size: 12px;">Phone Number</div>
                    <input [ngModel]="message.phone">
                </div>
            </div>
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">Category</div>
                    <input [ngModel]="message.type">
                </div>

                <div class="group-text">
                    <div style="font-size: 12px;">User rating</div>
                    <input [ngModel]="message.userRating">
                </div>
            </div>

        </div> -->



        <div class="basic-d  flex" *ngIf="currentTab === tabs.Profile">
            <div class="flex1">

            </div>
            <div class="flex2">
                <div class="flexdiv">
                    <span class="wid20"> Avatar </span>
                    <div class="inputclass1">
                        <img class="img-main"
                        src={{imageURL}}>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid20"> First Name</span>
                    <input class="inputclass" [ngModel]="message?.name">
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Last Name</span>
                    <input class="inputclass" [ngModel]="message?.name">
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Age </span>
                    <div class="wid80">
                        <input class="inputclass wid100" [ngModel]="message?.age">
                        <div class="temptxt"> If you want invoices addressed to a company. Leave blank to use your full name </div>
                    </div>

                </div>

                <div class="flexdiv">
                    <span class="wid20"> Mobile Number </span>
                    <input class="inputclass" [ngModel]="message?.phone">
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Email address</span>
                    <input class="inputclass" [ngModel]="email">
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Brief Bio</span>
                    <input class="inputclass" [ngModel]="message?.briefBio">
                </div>
                <div class="flexdiv">
                    <span class="wid20">Address </span>
                    <input class="inputclass" [ngModel]="message?.billingAddress?.city">
                </div>


            </div>
        </div>

        <div class="basic-d  flex" *ngIf="currentTab === tabs.Payment">
            <div class="flex1">

            </div>
            <div class="flex2">
                <div class="flexdiv">
                    <span class="wid20"> Payment Method </span>
                    <div class="inputclass1">
                        <select class="selectdrop" [ngModel]="message?.paymentMethod">
                            <option value="NEFT"> Bank Transfer</option>
                            <option value="bank"> NEFT</option>
                            <option value="gpay"> Google Pay</option>
                        </select>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Billing address</span>
                    <input class="inputclass" [ngModel]="message?.billingAddress.houseNo">
                </div>
                <div class="flexdiv">
                    <span class="wid20"> Tax Info</span>
                    <input class="inputclass" [ngModel]="message?.billingAddress.city">
                </div>
                <div class="flexdiv">
                    <span class="wid20">Agreement </span>
                    <input class="inputclass" [ngModel]="message?.billingAddress.city">
                </div>

            </div>
        </div>

        <div class="basic-d  flex" *ngIf="currentTab === tabs.Account">
            <div class="flex1">

            </div>
            <div class="flex2">
                <div class="flexdiv">
                    <span class="wid21"> Total users serviced</span>
                    <span class="inputclass1"> {{message?.usersServiced }} Users</span>
                </div>
                <div class="flexdiv">
                    <span class="wid21"> User Rating</span>
                    <span class="inputclass1"> <span class="bluec"> &#9829; &#9829; &#9829; &#9829; </span>  {{message?.userRating}}</span>
                </div>
                <div class="flexdiv">
                    <span class="wid21"> Current Lat </span>
                    <span class="inputclass1">
                    {{  message?.location?.coordinates[0] }}
                    </span>
                </div>
                <div class="flexdiv">
                    <span class="wid21"> Current Lng </span>
                    <span class="inputclass1">
                        {{ message?.location?.coordinates[1] }}
                    </span>

                </div>

            </div>
        </div>

        <div class="basic-d  flex" *ngIf="currentTab === tabs.Info">
            <div class="flex1">

            </div>
            <div class="flex2">
                <div class="flexdiv">
                    <span class="wid21"> Status</span>
                    <span class="inputclass1">
                        <button type="button"  class="statusbtn"> {{message?.status}} </button>
                    </span>
                </div>
                <div class="flexdiv">
                    <span class="wid21"> CreatedOn</span>
                    <span class="inputclass1"> {{message?.createdAt}}</span>
                </div>
                <div class="flexdiv">
                    <span class="wid21"> UpdatedOn </span>
                    <span class="inputclass1">
                    {{  message?.updatedAt }}
                    </span>
                </div>

            </div>
        </div>
        <!-- <div class="basic-d" *ngIf="currentTab === tabs.Account">
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">House no.</div>
                    <input [ngModel]="message.billingAddress.houseNo">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Street</div>
                    <input [ngModel]="message.billingAddress.street">
                </div>
                <div class="group-text">
                    <div style="font-size: 12px;">City</div>
                    <input [ngModel]="message.billingAddress.city">
                </div>
            </div>
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">Postal Code</div>
                    <input [ngModel]="message.billingAddress.postalCode">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">State</div>
                    <input [ngModel]="message.billingAddress.state">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">View on map</div>
                    <button> Click here to open map </button>
                </div>

            </div>

        </div> -->


        <div class="basic-d flex" *ngIf="currentTab === tabs.professional_details">
            <div class="flex1">

            </div>
            <div class="flex2">
                <div class="flexdiv">
                    <span class="wid30"> Type </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle1" name="vehicle1" value="{{message?.type}}">
                        <label for="vehicle1"> Photographer</label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.type}}">
                        <label for="vehicle2"> Videographer</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Expertise</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle1" name="vehicle1" value="{{message?.expertiseLevel}}">
                        <label for="vehicle1"> Mobile</label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.expertiseLevel}}">
                        <label for="vehicle2"> amateur</label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.expertiseLevel}}">
                        <label for="vehicle2"> Semi Pro</label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.expertiseLevel}}">
                        <label for="vehicle2"> Pro</label>
                    </div>
                </div>

                <div class="flexdiv">
                    <span class="wid30"> Equipment Level </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle1" name="vehicle1" value="{{message?.equipmentLevel}}">
                        <label for="vehicle1"> DSLR</label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.equipmentLevel}}">
                        <label for="vehicle2"> Mobile Camera </label>
                        <input class="check mar2" type="checkbox" id="vehicle2" name="vehicle2" value="{{message?.equipmentLevel}}">
                        <label for="vehicle2"> 360 degree camera</label>
                    </div>
                </div>

                <div class="flexdiv">
                    <span class="wid30"> Rate</span>
                    <input class="inputclass" [ngModel]="message?.rate?.valuePerHour">
                </div>
                <div class="flexdiv">
                    <span class="wid30">Languages spoken </span>
                    <input class="inputclass" [ngModel]="message?.languagesSpoken">
                </div>


                <div class="flexdiv">
                    <span class="wid30"> Lighting Option</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.lightingOption}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.lightingOption}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Green Screen</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.greenScreen}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.greenScreen}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30">Post shoot retouching and editing </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.postShootRetouchEdit}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.postShootRetouchEdit}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> 360 degree virtual reality shoots  </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.postShootRetouchEdit}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.postShootRetouchEdit}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Drone aerial shoot</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.droneAerialShoot}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.droneAerialShoot}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Animation creation</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.animationCreation}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.animationCreation}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Music </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.music}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.music}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Voice overs </span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.voiceOver}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.voiceOver}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Sound effects</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.soundEffect}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.soundEffect}}">
                        <label for="options">No</label>
                    </div>
                </div>
                <div class="flexdiv">
                    <span class="wid30"> Special effects and filters</span>
                    <div class="inputclass1">
                        <input class="check" type="checkbox" id="vehicle2" name="options" value="{{message?.specialEffectFilter}}">
                        <label for="options">Yes</label>

                        <input class="check mar2" type="checkbox" id="vehicle2" name="options" value="{{message?.specialEffectFilter}}">
                        <label for="options">No</label>
                    </div>
                </div>
            </div>

        </div>


        <div class="basic-d pflex" *ngIf="currentTab === tabs.Portfolio">
            <div class="buttonflex">
            <div>
                <button class="all" type="button"> All </button>
                <button class="picbtn"> Photos</button>
                <button class="videobtn"> Videos </button>
            </div>
            <div>
                <button class="uploadbtn"> Upload file  </button>
            </div>
            </div>
            <div class="imageflex">
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
                <img class="imageclass"
                src={{imageURL}}>
            </div>
        </div>

        <!-- <div class="basic-d" *ngIf="currentTab === tabs.professional_details">
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">Category</div>
                    <input [ngModel]="message.type">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Expertise Level</div>
                    <input [ngModel]="message.expertiseLevel">
                </div>
                <div class="group-text">
                    <div style="font-size: 12px;">Equiment Level</div>
                    <input [ngModel]="message.equipmentLevel">
                </div>
            </div>
            <div class="align-aorder">
                <div class="group-text">
                    <div style="    font-size: 12px;">Payment Method</div>
                    <input [ngModel]="message.paymentMethod">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Service Provided</div>
                    <input [ngModel]="message.usersServiced">
                </div>
                <div class="group-text">
                    <div style="    font-size: 12px;">Rate per Hour</div>
                    <input [ngModel]="message.rate.ratePerHour">
                </div>

            </div>
            <div style="color: black;
                    padding-top: 22px;">Services Provided </div>
            <div style="padding-top: 8px !important;" class="align-aorder">
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.lightingOption = !message.lightingOption"
                        [ngStyle]="{'color':message.lightingOption ? 'green' : 'red'}"></i> <span> Lighting Option
                    </span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.greenScreen = !message.greenScreen"
                        [ngStyle]="{'color':message.greenScreen ? 'green' : 'red'}"></i> <span>Green Screen</span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.postShootRetouchEdit = !message.postShootRetouchEdit"
                        [ngStyle]="{'color':message.postShootRetouchEdit ? 'green' : 'red'}"></i> <span> Post Shoot
                        Retouch Edit</span>
                </div>

            </div>
            <div style="padding-top: 8px !important;" class="align-aorder">
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.droneAerialShoot = !message.droneAerialShoot"
                        [ngStyle]="{'color':message.droneAerialShoot ? 'green' : 'red'}"></i> <span> Drone Aerial
                        Shoot</span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.animationCreation = !message.animationCreation"
                        [ngStyle]="{'color':message.animationCreation ? 'green' : 'red'}"></i> <span> Animation Creation
                    </span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.music = !message.music"
                        [ngStyle]="{'color':message.music ? 'green' : 'red'}"></i> <span> Music </span>
                </div>

            </div>
            <div style="padding-top: 8px !important;" class="align-aorder">
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.voiceOver = !message.voiceOver"
                        [ngStyle]="{'color':message.voiceOver ? 'green' : 'red'}"></i> <span> Voice Over</span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.soundEffect = !message.soundEffect"
                        [ngStyle]="{'color':message.soundEffect ? 'green' : 'red'}"></i> <span> Sound Effect</span>
                </div>
                <div class="group-text">
                    <i class="fa fa-check-square" (click)="message.specialEffectFilter = !message.specialEffectFilter"
                        [ngStyle]="{'color':message.specialEffectFilter ? 'green' : 'red'}"></i> <span> Special Effect
                        Filter </span>
                </div>

            </div>

        </div> -->

    </div>

</div>
