<div class="view-grapher">
    <div class="header-bar">
        <div><span>View</span> Booking
            <span style="color: #ddd">
                ID : AEAEAEAE
            </span></div>

        <div>
            <button class="back-button" (click)="back()">Back</button>
            <button class="save-button" (click)="save()"> Add feedback </button></div>
    </div>
    <div>
        <div class="single-split">
            <div style="color: #2874f0"> Subscriber name</div>
            <div> Malavan </div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0"> Photographer Name</div>
            <div> Hari </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0"> Location lat</div>
            <div> 98.090909 </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0"> Location Long</div>
            <div> 70.909090 </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0"> Date TIme</div>
            <div> 5 Dec 2019: 01:55 Hrs </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0">Status</div>
            <div style="color: #2874f0"> Active </div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">Price</div>
            <div> $220/Hr </div>
        </div>


        <div class="single-split">
            <div style="color: #2874f0">Payment Status</div>
            <div> Successfull </div>
        </div>


        <div class="single-split">
            <div style="color: #2874f0">Payment Amount</div>
            <div> $1200 </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0">Payment Method</div>
            <div>Card 234.....4</div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">Payment Transaction ID</div>
            <div> i87676556789 </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0">Feedback</div>
            <div> Its good. </div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">User Rating</div>
            <div>
                <span><i style="color: #2874f0" class="fa fa-star"></i></span>
                <span><i style="color: #2874f0" class="fa fa-star"></i></span>
                <span><i style="color: #2874f0" class="fa fa-star"></i></span>
                <span><i style="color: #2874f0" class="fa fa-star"></i></span>
                <span style="padding-left:10px;">4.1</span>

            </div>
        </div>
        <div class="single-split">
            <div style="color: #2874f0;">Feedback</div>
            <div style="border: 1px solid #ddd;
            border-radius: 5px;"> Its good. </div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">List of Photos</div>
            <div>
                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; border-radius: 5"
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>
            </div>
        </div>


        <div class="single-split">
            <div style="color: #2874f0">List of Videos</div>
            <div>
                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; border-radius: 5"
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>

                <span>
                    <img style="cursor: pointer; font-weight: bold; "
                        src="https://lh3.googleusercontent.com/-NOWffjH8DEg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcyivdSyNoeDrUGJzsiy7jDTuUUjw.CMID/s32-c/photo.jpg">
                </span>
            </div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">Last updated</div>
            <div> 20th Dec 2019</div>
        </div>

        <div class="single-split">
            <div style="color: #2874f0">Created At</div>
            <div> 20th Dec 2019</div>
        </div>
    </div>

</div>